@model HRMManagement.Models.Display

@{
    ViewData["Title"] = "Thông Tin Chi Tiết";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@if (Model != null)
{
        <div class="">
            <div class="">
                <div class="row">
                    <div class="col-sm-4 p-3">
                        <div class="container mt-3">
                            <div class="card" style="max-width:400px">
                                <img class="card-img-top" src="/profileimages/@(Model.Id).jpg" alt="Profile image" style="width:100%" ; height="400px" onerror="this.onerror=null; this.src='/profileimages/default.jpg';">
                                <div class="card-body">
                                    <h4 class="card-title" style="font-weight:bold">@Model.HoDem @Model.Ten</h4>
                                    <p class="card-text" style="font-size:large">@Model.TenChucVu @Model.TenPhongBan</p>
                                    <p class="card-text" style="font-size:medium;">@Model.TenVitri</p>
                                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#updateImage">
                                        Tải ảnh lên
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 p-3">
                        <div class="info" style="max-width: 900px;">
                            <div class="info-title">
                                <h2 style="text-align: center; padding-top: 20px;">Thông Tin Cá Nhân</h2>
                            </div>

                            <div class="info-body"
                                 style="background-color:ghostwhite; border: solid; border-style: outset; margin-left: inherit ">
                                <hr>
                                <div class="row" style=" margin-left: inherit">
                                    <div class="col-sm-4">Họ Tên:</div>
                                    <div class="col-sm-8">@Model.HoDem @Model.Ten</div>
                                </div>
                                <hr>
                                <div class="row" style=" margin-left: inherit">
                                    <div class="col-sm-4">Ngày Sinh:</div>
                                    <div class="col-sm-8">
                                        @Model.NgaySinh.ToString().Substring(0,10)
                                    </div>
                                </div>
                                <hr>
                                <div class="row" style=" margin-left: inherit">
                                    <div class="col-sm-4">Giới Tính:</div>
                                    <div class="col-sm-8">
                                        @if (Model.GioiTinh == true)
                                        {
                                            <span>Nam</span>
                                        }
                                        else
                                        {
                                            <span>Nu</span>
                                        }
                                    </div>
                                </div>
                                <hr>
                                <div class="row" style=" margin-left: inherit">
                                    <div class="col-sm-4">CCCD:</div>
                                    <div class="col-sm-8">@Model.Cccd</div>
                                </div>
                                <hr>
                                <div class="row" style=" margin-left: inherit">
                                    <div class="col-sm-4">Địa chỉ:</div>
                                    <div class="col-sm-8">@Model.DiaChi</div>
                                </div>
                                <hr>
                                <div class="row" style=" margin-left: inherit">
                                    <div class="col-sm-4">SDT:</div>
                                    <div class="col-sm-8">@Model.Sdt</div>
                                </div>
                                <hr>
                                <div class="row" style=" margin-left: inherit">
                                    <div class="col-sm-4">Email:</div>
                                    <div class="col-sm-8">@Model.Email</div>
                                </div>
                                <hr>
                            </div>
                            <br>
                            <a class="btn btn-primary" style="padding: 20px; width: 100%; font-size: x-large;" asp-controller="Info" asp-action="Update" asp-route-id="@Model.Id">Chỉnh Sửa Thông Tin Cá Nhân</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="modal fade show" id="updateImage" tabindex="-1" role="dialog" aria-labelledby="ImageLabel"
                 aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="ImageLabel">Cập nhật ảnh đại diện</h5>
                            <button type="button" class="btn-close btn-sm" data-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form method="post" enctype="multipart/form-data" asp-controller="Info" asp-action="UploadImages" asp-route-id="@Model.Id">      
                                <div class="form-group">
                                    <label for="InputImage"></label>
                                    <input type="file" name="imageFile" id="imageFile" placeholder="Chọn ảnh" />
                                    <hr>
                                </div>
                                <button type="submit" class="btn btn-primary">Tải lên</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
}
