@model PaginatedList<HRMManagement.Models.Display>
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}
<div class="card my-scrollbox-inner" id="resultContainer" style="margin: 10px;">
    <div id="table-header">
        <div class=" card-header d-lg-flex" style="justify-content:space-between">
            <h5>Nhân sự</h5>
            <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                <a type="button" class="btn btn-outline-info" asp-controller="Info" asp-action="Add">
                    <span class="material-symbols-outlined">
                        person_add
                    </span>
                </a>
                @* <div class="btn-group" role="group">
                <button id="btnGroupDrop1"
                type="button"
                class="btn btn-outline-info dropdown-toggle"
                data-bs-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">
                Filters
                </button>
                <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                <li class="dropdown-item">
                <a class="test" tabindex="-1" href="#">Vị trí CV <span class="caret"></span></a>
                <ul class="dropdown-menu">
                <li class="dropdown-item">
                @foreach (var position in ViewBag.uniqueViTri)
                {
                <a class="" href="#">@position</a>
                }
                </ul>
                </li>
                </ul>
                </div> *@
            </div>
        </div>
    </div>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        <a class="nav-link dropdown-toggle"
                           href=""
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Img
                        </a>
                    </th>
                    <th class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href=""
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Nhân sự
                        </a>
                    </th>
                    <th>
                        <a class="nav-link dropdown-toggle"
                           href=""
                           role="button"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Mã
                        </a>
                    </th>
                    <th>
                        @* <a class="nav-link dropdown-toggle"
                        href=""
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Phòng ban
                        </a> *@
                        <select class="form-select" id="departmentFilter" name="departmentFilter">
                            <option value="" hidden>Chọn phòng ban</option>
                            @foreach (var department in ViewBag.uniquePhongBan)
                            {
                                <option value="@department">@department</option>
                            }
                        </select>
                    </th>
                    <th>
                        @* <a class="nav-link dropdown-toggle"
                        href=""
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Chức vụ
                        </a> *@
                        <select class="form-select" id="titleFilter" name="titleFilter">
                            <option value="" hidden>Chọn chức vụ</option>
                            @foreach (var title in ViewBag.uniqueChucVu)
                            {
                                <option value="@title">@title</option>
                            }
                        </select>
                    </th>
                    <th>
                        @*  <a class="nav-link dropdown-toggle"
                        href=""
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Vị trí
                        </a> *@
                        <select class="form-select" id="positionFilter" name="positionFilter">
                            <option value="" hidden
                                    class="nav-link dropdown-toggle"
                                    href=""
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false">Chọn vị trí</option>
                            @foreach (var position in ViewBag.uniqueViTri)
                            {
                                <option value="@position">@position</option>
                            }
                        </select>
                    </th>
                    <th>
                        <a asp-controller="Info" asp-action="Index">
                            <span class="material-symbols-outlined" style="color:black">
                                layers_clear
                            </span>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var nv in Model)
                {
                    <tr style="font-size: 14px;">
                        <td data-id="@nv.Id" onclick="redirectToDetail('@nv.Id')">
                            <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                <li data-bs-toggle="tooltip"
                                    data-popup="tooltip-custom"
                                    data-bs-placement="top"
                                    class="avatar avatar-xs pull-up"
                                    title="@nv.Ten">
                                    <img src="~/assets/images/default-avatar.png" alt="Avatar" class="rounded-circle mini-profile-image" />
                                </li>
                            </ul>
                        </td>
                        <td data-id="@nv.Id" onclick="redirectToDetail('@nv.Id')"><i class="fab fa-angular fa-lg text-danger me-3"></i> <strongs>@nv.HoDem @nv.Ten</strongs></td>
                        <td data-id="@nv.Id" onclick="redirectToDetail('@nv.Id')">@nv.Id</td>
                        <td>@nv.TenPhongBan</td>
                        <td>@nv.TenChucVu</td>
                        <td>@nv.TenVitri</td>
                        <td>
                            <a style="color:red; justify-content:center"
                               class=" btn btn-primary"
                               data-bs-toggle="offcanvas"
                               data-bs-target="#offcanvasBackdrop"
                               aria-controls="offcanvasBackdrop">
                                <span class="material-symbols-outlined">
                                    delete
                                </span>
                                Xóa
                            </a>
                            @* <div class="dropdown">
                                <button 
                                    type="button"
                                   class="btn p-0 dropdown-toggle hide-arrow"
                                   data-bs-toggle="dropdown"
                                    style="color:black">
                                    <span class="material-symbols-outlined">
                                        more_horiz
                                    </span>
                                </button>
                                <div class="dropdown-menu">
                                    <a 
                                        class="dropdown-item" 
                                        data-id="@nv.Id" 
                                        onclick="redirectToDetail('@nv.Id')"
                                        >
                                        <span class="material-symbols-outlined">
                                            edit
                                        </span>
                                        Thông tin
                                    </a>
                                    
                                </div>
                            </div> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasBackdrop" aria-labelledby="offcanvasBackdropLabel">
        <div class="offcanvas-header">
            <h4 id="offcanvasBackdropLabel" class="offcanvas-title">XÁC NHẬN</h4>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body my-auto mx-0 flex-grow-0">
            <p class="text-center">
                <h5 class="text-uppercase text-danger"><b>Bạn đang chuẩn bị thực hiện hành động quan trọng:</b></h5><br>
                <span class="text-muted">
                    Xóa một nhân viên khỏi hệ thống.<br>
                    Hành động này không thể đảo ngược và sẽ gây mất mát dữ liệu <b>không thể phục hồi.</b>
                </span><br>
                <br>
                Bạn có chắc chắn muốn <strong>tiếp tục?</strong>
            </p>
            <button type="button" class="btn btn-outline-danger mb-2 d-grid w-100" asp-controller="Info" asp-action="Delete">Tiếp tục</button>
            <button type="button" class="btn btn-primary d-grid w-100" data-bs-dismiss="offcanvas">
                Hủy bỏ
            </button>
        </div>
    </div>
    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-end">

                <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
                    <a class="page-link" asp-route-pageNumber="@(Model.PageIndex - 1)" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Trước</span>
                    </a>
                </li>

                @for (int i = 1; i <= Model.TotalPages; i++)
                {
                    <li class="page-item @(Model.PageIndex == i ? "active" : "")">
                        <a class="page-link" asp-route-pageNumber="@i">@i</a>
                    </li>
                }

                <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
                    <a class="page-link" asp-route-pageNumber="@(Model.PageIndex + 1)" aria-label="Next">
                        <span class="sr-only">Sau</span>
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
